@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1 class="text-center">Interfell Store</h1>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#modalCreateStore" >
            Create store
        </button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>interfell</td>
                    <td>calle</td>
                    <td>
                        <a class='btn btn-warning btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span></a> <a href="#" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal create store -->
<div class="modal fade" id="modalCreateStore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Store</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="name">Name</label>
                            <div class="col-md-6">
                                <input id="name" name="name" type="text" placeholder="Interfell" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="address">Address</label>
                            <div class="col-md-6">
                                <input id="address" name="address" type="text" placeholder="street 1" class="form-control input-md" required="">

                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/store")
}